In [11]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

In [12]:
driver = webdriver.Chrome()

In [13]:
driver.get('https://scrapethissite.com/pages/simple')

In [14]:
def get_names(item):

    elems = driver.find_elements(By.CLASS_NAME, item)

    text_list = []

    for elem in elems:
        text_list.append(elem.text)

    return text_list

In [15]:
count_names = get_names('country-name')
count_capitals = get_names('country-capital')
count_populations = get_names('country-population')
count_areas = get_names('country-area')

In [16]:
count_names[1]

'United Arab Emirates'

In [17]:
count_data = []

for i, count in enumerate(count_names):
    count_capital = count_capitals[i]
    count_area = count_areas[i]
    count_population = count_populations[i]

    new_row = [count, count_capital, count_area, count_population]

    count_data.append(new_row)

In [23]:
df = pd.DataFrame(count_data, columns=['country_name', 'country_capital','country_area', 'country_population'])

In [24]:
df.head()

           country_name   country_capital country_area country_population
0               Andorra  Andorra la Vella        468.0              84000
1  United Arab Emirates         Abu Dhabi      82880.0            4975593
2           Afghanistan             Kabul     647500.0           29121286
3   Antigua and Barbuda        St. John's        443.0              86754
4              Anguilla        The Valley        102.0              13254

In [25]:
df.tail()

     country_name country_capital country_area country_population
245         Yemen           Sanaa     527970.0           23495361
246       Mayotte       Mamoudzou        374.0             159042
247  South Africa        Pretoria    1219912.0           49000000
248        Zambia          Lusaka     752614.0           13460305
249      Zimbabwe          Harare     390580.0           11651858