In [11]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

In [12]:
driver = webdriver.Chrome()

In [13]:
driver.get('https://scrapethissite.com/pages/simple')

In [14]:
def get_names(item):

    elems = driver.find_elements(By.CLASS_NAME, item)

    text_list = []

    for elem in elems:
        text_list.append(elem.text)

    return text_list

In [15]:
count_names = get_names('country-name')
count_capitals = get_names('country-capital')
count_populations = get_names('country-population')
count_areas = get_names('country-area')

In [16]:
count_names[1]

'United Arab Emirates'

In [17]:
count_data = []

for i, count in enumerate(count_names):
    count_capital = count_capitals[i]
    count_area = count_areas[i]
    count_population = count_populations[i]

    new_row = [count, count_capital, count_area, count_population]

    count_data.append(new_row)

In [23]:
df = pd.DataFrame(count_data, columns=['country_name', 'country_capital','country_area', 'country_population'])

In [24]:
df.head()

           country_name   country_capital country_area country_population
0               Andorra  Andorra la Vella        468.0              84000
1  United Arab Emirates         Abu Dhabi      82880.0            4975593
2           Afghanistan             Kabul     647500.0           29121286
3   Antigua and Barbuda        St. John's        443.0              86754
4              Anguilla        The Valley        102.0              13254

In [25]:
df.tail()

     country_name country_capital country_area country_population
245         Yemen           Sanaa     527970.0           23495361
246       Mayotte       Mamoudzou        374.0             159042
247  South Africa        Pretoria    1219912.0           49000000
248        Zambia          Lusaka     752614.0           13460305
249      Zimbabwe          Harare     390580.0           11651858

In [26]:
driver.get('https://en.wikipedia.org/wiki/List_of_countries_by_coffee_production')

In [28]:
country_elem = driver.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table/tbody/tr[1]')

In [31]:
country_elem.text.split(' ')

['1', 'Brazil', '44,200,000', '2,652,000', '5,714,381,000']

In [50]:
data = []

for x in range(1, 52):
    country_elem = driver.find_element(By.XPATH, f'//*[@id="mw-content-text"]/div[1]/table/tbody/tr[{x}]')
    country_str_list = country_elem.text.split(' ')

    # Handle specific cases where the country names are split
    if country_str_list[1] == 'China(2013â€“14':
        country_str_list[1] = 'China'
        del country_str_list[2]
    
    elif country_str_list[1] == 'Ivory':
        # Handle Ivory Coast
        country_str_list[1] = 'Ivory Coast'
        del country_str_list[2]

    elif country_str_list[1] == 'Costa':
        # Handle Costa Rica
        country_str_list[1] = 'Costa Rica'
        del country_str_list[2]

    elif country_str_list[1] == 'Papua':
        # Handle Papua New Guinea
        country_str_list[1] = 'Papua New Guinea'
        del country_str_list[2]
        del country_str_list[2]

    elif country_str_list[1] == 'El':
        # Handle El Salvador
        country_str_list[1] = 'El Salvador'
        del country_str_list[2]

    elif country_str_list[1] == 'Dominican':
        # Handle Dominican Republic
        country_str_list[1] = 'Dominican Republic'
        del country_str_list[2]

    elif country_str_list[1] == 'Democratic':
        # Handle Democratic Republic of the Congo
        country_str_list[1] = 'Democratic Republic of the Congo'
        del country_str_list[2]
        del country_str_list[2]
        del country_str_list[2]
        del country_str_list[2]

    elif country_str_list[1] == 'Timor':
        # Handle Timor-Leste
        country_str_list[1] = 'Timor-Leste'
        del country_str_list[2]

    elif country_str_list[1] == 'Central':
        # Handle Central African Republic
        country_str_list[1] = 'Central African Republic'
        del country_str_list[2]
        del country_str_list[2]

    elif country_str_list[1] == 'Sierra':
        # Handle Sierra Leone
        country_str_list[1] = 'Sierra Leone'
        del country_str_list[2]

    elif country_str_list[1] == 'Trinidad':
        # Handle Trinidad and Tobago
        country_str_list[1] = 'Trinidad and Tobago'
        del country_str_list[2]
        del country_str_list[2]

    # Add more conditions for other specific cases as needed...

    # Add the modified list to count_data
    data.append(country_str_list)

In [51]:
wiki_header_list = ['rank', 'country', 'bags', 'tons', 'pounds']

In [52]:
for row in data:
    if len(row) > 5:
        print(row)

In [53]:
wiki_data = pd.DataFrame(data,columns=wiki_header_list)

In [54]:
wiki_data.head()

  rank    country        bags       tons         pounds
0    1     Brazil  44,200,000  2,652,000  5,714,381,000
1    2    Vietnam  27,500,000  1,650,000  3,637,627,000
2    3   Colombia  13,500,000    810,000  1,785,744,000
3    4  Indonesia  11,000,000    660,000  1,455,050,000
4    5   Honduras   9,600,000    580,000  1,278,681,000