In [53]:
from selenium import webdriver
from selenium.webdriver.common.by import By

import pandas as pd
import pyodbc

In [54]:
driver = webdriver.Chrome()

In [55]:
driver.get('https://scrapethissite.com/pages/simple')

In [56]:
def get_names(item):

    elems = driver.find_elements(By.CLASS_NAME, item)

    text_list = []

    for elem in elems:
        text_list.append(elem.text)

    return text_list

In [57]:
count_names = get_names('country-name')
count_capitals = get_names('country-capital')
count_populations = get_names('country-population')
count_areas = get_names('country-area')

In [58]:
count_names[1]

'United Arab Emirates'

In [59]:
count_data = []

for i, count in enumerate(count_names):
    count_capital = count_capitals[i]
    count_area = count_areas[i]
    count_population = count_populations[i]

    new_row = [count, count_capital, count_area, count_population]

    count_data.append(new_row)

In [60]:
scrape_df = pd.DataFrame(count_data, columns=['country_name', 'country_capital','country_area', 'country_population'])

In [61]:
scrape_df.head()

           country_name   country_capital country_area country_population
0               Andorra  Andorra la Vella        468.0              84000
1  United Arab Emirates         Abu Dhabi      82880.0            4975593
2           Afghanistan             Kabul     647500.0           29121286
3   Antigua and Barbuda        St. John's        443.0              86754
4              Anguilla        The Valley        102.0              13254

In [62]:
scrape_df.tail()

     country_name country_capital country_area country_population
245         Yemen           Sanaa     527970.0           23495361
246       Mayotte       Mamoudzou        374.0             159042
247  South Africa        Pretoria    1219912.0           49000000
248        Zambia          Lusaka     752614.0           13460305
249      Zimbabwe          Harare     390580.0           11651858

In [63]:
scrape_df.to_csv('count_data.csv',index=False)

In [64]:
pd.read_csv("count_data.csv")

             country_name   country_capital  country_area  country_population
0                 Andorra  Andorra la Vella         468.0               84000
1    United Arab Emirates         Abu Dhabi       82880.0             4975593
2             Afghanistan             Kabul      647500.0            29121286
3     Antigua and Barbuda        St. John's         443.0               86754
4                Anguilla        The Valley         102.0               13254
..                    ...               ...           ...                 ...
245                 Yemen             Sanaa      527970.0            23495361
246               Mayotte         Mamoudzou         374.0              159042
247          South Africa          Pretoria     1219912.0            49000000
248                Zambia            Lusaka      752614.0            13460305
249              Zimbabwe            Harare      390580.0            11651858

[250 rows x 4 columns]

In [65]:
driver.get('https://en.wikipedia.org/wiki/List_of_countries_by_coffee_production')

In [66]:
country_elem = driver.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table/tbody/tr[1]')

In [67]:
country_elem.text.split(' ')

['Rank', 'Country', '60', 'kilogram', 'bags', 'Metric', 'tons', 'Pounds']

In [68]:
data = []

for x in range(2, 52):
    country_elem = driver.find_element(By.XPATH, f'//*[@id="mw-content-text"]/div[1]/table/tbody/tr[{x}]')
    country_str_list = country_elem.text.split(' ')

    # Handle specific cases where the country names are split
    if country_str_list[1] == 'China(2013–14':
        country_str_list[1] = 'China'
        del country_str_list[2]
    
    elif country_str_list[1] == '60':
        # Handle Ivory Coast
        country_str_list[1] = '60 kilogram bags'
        del country_str_list[2]
        del country_str_list[2]
    
    elif country_str_list[1] == 'Ivory':
        # Handle Ivory Coast
        country_str_list[1] = 'Ivory Coast'
        del country_str_list[2]

    elif country_str_list[1] == 'Costa':
        # Handle Costa Rica
        country_str_list[1] = 'Costa Rica'
        del country_str_list[2]

    elif country_str_list[1] == 'Papua':
        # Handle Papua New Guinea
        country_str_list[1] = 'Papua New Guinea'
        del country_str_list[2]
        del country_str_list[2]

    elif country_str_list[1] == 'El':
        # Handle El Salvador
        country_str_list[1] = 'El Salvador'
        del country_str_list[2]

    elif country_str_list[1] == 'Dominican':
        # Handle Dominican Republic
        country_str_list[1] = 'Dominican Republic'
        del country_str_list[2]

    elif country_str_list[1] == 'Democratic':
        # Handle Democratic Republic of the Congo
        country_str_list[1] = 'Democratic Republic of the Congo'
        del country_str_list[2]
        del country_str_list[2]
        del country_str_list[2]
        del country_str_list[2]

    elif country_str_list[1] == 'Timor':
        # Handle Timor-Leste
        country_str_list[1] = 'Timor-Leste'
        del country_str_list[2]

    elif country_str_list[1] == 'Central':
        # Handle Central African Republic
        country_str_list[1] = 'Central African Republic'
        del country_str_list[2]
        del country_str_list[2]

    elif country_str_list[1] == 'Sierra':
        # Handle Sierra Leone
        country_str_list[1] = 'Sierra Leone'
        del country_str_list[2]

    elif country_str_list[1] == 'Trinidad':
        # Handle Trinidad and Tobago
        country_str_list[1] = 'Trinidad and Tobago'
        del country_str_list[2]
        del country_str_list[2]

    # Add more conditions for other specific cases as needed...

    # Add the modified list to count_data
    data.append(country_str_list)

In [69]:
data

[['1', 'Brazil', '44,200,000', '2,652,000', '5,714,381,000'],
 ['2', 'Vietnam', '27,500,000', '1,650,000', '3,637,627,000'],
 ['3', 'Colombia', '13,500,000', '810,000', '1,785,744,000'],
 ['4', 'Indonesia', '11,000,000', '660,000', '1,455,050,000'],
 ['5', 'Honduras', '9,600,000', '580,000', '1,278,681,000'],
 ['6', 'Ethiopia', '6,400,000', '384,000', '846,575,000'],
 ['7', 'India', '5,800,000', '348,000', '767,208,000'],
 ['8', 'Uganda', '4,800,000', '288,000', '634,931,000'],
 ['9', 'Mexico', '3,900,000', '234,000', '515,881,000'],
 ['10', 'Guatemala', '3,400,000', '204,000', '449,743,000'],
 ['11', 'Peru', '3,200,000', '192,000', '423,287,000'],
 ['12', 'Nicaragua', '2,200,000', '132,000', '291,010,000'],
 ['13', 'China', '1,947,000', '116,820', '257,544,000'],
 ['14', 'Ivory Coast', '1,800,000', '108,000', '238,099,000'],
 ['15', 'Costa Rica', '1,492,000', '89,520', '197,357,000'],
 ['16', 'Kenya', '833,000', '49,980', '110,187,000'],
 ['17', 'Papua New Guinea', '800,000', '48,000', '105,821,000'],
 ['18', 'Tanzania', '800,000', '48,000', '105,821,000'],
 ['19', 'El Salvador', '762,000', '45,720', '100,795,000'],
 ['20', 'Ecuador', '700,000', '42,000', '92,594,000'],
 ['21', 'Cameroon', '570,000', '34,200', '75,398,000'],
 ['22', 'Laos', '520,000', '31,200', '68,784,000'],
 ['23', 'Madagascar', '520,000', '31,200', '68,784,000'],
 ['24', 'Gabon', '500,000', '30,000', '66,138,000'],
 ['25', 'Thailand', '500,000', '30,000', '66,138,000'],
 ['26', 'Venezuela', '500,000', '30,000', '66,138,000'],
 ['27', 'Dominican Republic', '400,000', '24,000', '52,910,000'],
 ['28', 'Haiti', '350,000', '21,000', '46,297,000'],
 ['29', 'Democratic Republic of the Congo', '335,000', '20,100', '44,312,000'],
 ['30', 'Rwanda', '250,000', '15,000', '33,069,000'],
 ['31', 'Burundi', '200,000', '12,000', '26,455,000'],
 ['32', 'Philippines', '200,000', '12,000', '26,455,000'],
 ['33', 'Togo', '200,000', '12,000', '26,455,000'],
 ['34', 'Guinea', '160,000', '9,600', '21,164,000'],
 ['35', 'Yemen', '120,000', '7,200', '15,873,000'],
 ['36', 'Cuba', '100,000', '6,000', '13,227,000'],
 ['37', 'Panama', '100,000', '6,000', '13,227,000'],
 ['38', 'Bolivia', '90,000', '5,400', '11,904,000'],
 ['39', 'Timor-Leste', '80,000', '4,800', '10,582,000'],
 ['40', 'Central African Republic', '65,000', '3,900', '8,598,000'],
 ['41', 'Nigeria', '40,000', '2,400', '5,291,000'],
 ['42', 'Ghana', '37,000', '2,220', '4,894,000'],
 ['43', 'Sierra Leone', '36,000', '2,160', '4,761,000'],
 ['44', 'Angola', '35,000', '2,100', '4,629,000'],
 ['45', 'Jamaica', '21,000', '1,260', '2,777,000'],
 ['46', 'Paraguay', '20,000', '1,200', '2,645,000'],
 ['47', 'Malawi', '16,000', '960', '2,116,000'],
 ['48', 'Trinidad and Tobago', '12,000', '720', '1,587,000'],
 ['49', 'Zimbabwe', '10,000', '600', '1,322,000'],
 ['50', 'Liberia', '6,000', '360', '793,000']]

In [70]:
wiki_header_list = ['rank', 'country', 'bags', 'tons', 'pounds']

In [71]:
for row in data:
    if len(row) > 5:
        print(row)

In [72]:
wiki_data = pd.DataFrame(data,columns=wiki_header_list)

In [73]:
wiki_data.head()

  rank    country        bags       tons         pounds
0    1     Brazil  44,200,000  2,652,000  5,714,381,000
1    2    Vietnam  27,500,000  1,650,000  3,637,627,000
2    3   Colombia  13,500,000    810,000  1,785,744,000
3    4  Indonesia  11,000,000    660,000  1,455,050,000
4    5   Honduras   9,600,000    580,000  1,278,681,000

In [74]:
wiki_data.tail()

   rank              country    bags   tons     pounds
45   46             Paraguay  20,000  1,200  2,645,000
46   47               Malawi  16,000    960  2,116,000
47   48  Trinidad and Tobago  12,000    720  1,587,000
48   49             Zimbabwe  10,000    600  1,322,000
49   50              Liberia   6,000    360    793,000

In [75]:
wiki_data.to_csv('wiki_data.csv', index=False)